# Import libraries

In [1]:
import pandas as pd
import numpy as np

# Read Data From Excel File

In [2]:
df = pd.read_excel('Data/DATASET.xlsx', 'Database 2022')
df.head()

c:\Users\trung\miniconda3\envs\datathon\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

,Year,Jurisdiction,Category,Type,Classification,Total type,Stream,Management,Fate,Tonnes,Core or non-core,Sub-stream,Cat. order,Cat. no.,Type order,Type no.,
0,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Other disposal,Disposal,20185.549742,Core waste,03 C&I core,03 Organics,C3,14 Biosolids,T14,NaN
1,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Recycling,Recycling,0.000000,Core waste,03 C&I core,03 Organics,C3,14 Biosolids,T14,NaN
2,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Other disposal,Disposal,20185.549742,Core waste,09 Total,03 Organics,C3,14 Biosolids,T14,NaN
3,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Recycling,Recycling,0.000000,Core waste,09 Total,03 Organics,C3,14 Biosolids,T14,NaN
4,2020-2021,ACT,Biosolids,NaN,Category,NaN,C&I,Other disposal,Disposal,20185.549742,Core waste,03 C&I core,03 Organics,C3,NaN,NaN,NaN

# Data Cleaning

In [3]:
# List all column names
df.columns

Index(['Year', 'Jurisdiction', 'Category', 'Type', 'Classification',
       'Total type', 'Stream', 'Management', 'Fate', 'Tonnes',
       'Core or non-core', 'Sub-stream', 'Cat. order', 'Cat. no.',
       'Type order', 'Type no.', ' '],
      dtype='object')

In [4]:
# Check if column is empty
df[' '].value_counts()

             8630
2018-2019       2
2017-2018       2
Name: count, dtype: int64

In [5]:
# Remove the redundant column
df.drop(columns=[' '], inplace=True)
df.head()

,Year,Jurisdiction,Category,Type,Classification,Total type,Stream,Management,Fate,Tonnes,Core or non-core,Sub-stream,Cat. order,Cat. no.,Type order,Type no.
0,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Other disposal,Disposal,20185.549742,Core waste,03 C&I core,03 Organics,C3,14 Biosolids,T14
1,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Recycling,Recycling,0.000000,Core waste,03 C&I core,03 Organics,C3,14 Biosolids,T14
2,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Other disposal,Disposal,20185.549742,Core waste,09 Total,03 Organics,C3,14 Biosolids,T14
3,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Recycling,Recycling,0.000000,Core waste,09 Total,03 Organics,C3,14 Biosolids,T14
4,2020-2021,ACT,Biosolids,NaN,Category,NaN,C&I,Other disposal,Disposal,20185.549742,Core waste,03 C&I core,03 Organics,C3,NaN,NaN

In [6]:
# Check column Year unique values
df['Year'].unique()

array(['2020-2021', '2019-2020', '2018-2019', '2017-2018', '2016-2017',
       '2015-2016', '2014-2015', '2013-2014', '2012-2013', '2011-2012',
       '2010-2011', '2009-2010', '2008-2009', '2007-2008', '2006-2007'],
      dtype=object)

In [7]:
# Remove data of the years 2007-2008, 2011-2012, 2012-2013
df = df[(df['Year'] != '2007-2008')&(df['Year'] != '2011-2012')&(df['Year'] != '2012-2013')]
df['Year'].unique()

array(['2020-2021', '2019-2020', '2018-2019', '2017-2018', '2016-2017',
       '2015-2016', '2014-2015', '2013-2014', '2010-2011', '2009-2010',
       '2008-2009', '2006-2007'], dtype=object)

# Data Transformation

In [8]:
# Row counts of Jurisdiction column
df.Jurisdiction.value_counts()

Jurisdiction
SA           8450
WA           8229
Vic          7959
ACT          7685
NSW          7657
Qld          7444
Tas          7268
NT           7208
Australia     332
Name: count, dtype: int64

In [9]:
# Convert state/territory short names to the location names recognised by Looker Studio

states = {
          'Tas': 'TAS, Australia', 
          'Vic': 'VIC, Australia', 
          'ACT': 'ACT, Australia', 
          'WA': 'WA, Australia', 
          'SA': 'SA, Australia', 
          'NSW': 'NSW, Australia', 
          'Qld': 'QLD, Australia', 
          'NT': 'NT, Australia', 
          'Australia': 'Australia'
          }

# states = {
#           'Tas': 'Tasmania, Australia', 
#           'Vic': 'Victoria, Australia', 
#           'ACT': 'Australian Capital Territory, Australia', 
#           'WA': 'Western Australia, Australia', 
#           'SA': 'South Australia, Australia', 
#           'NSW': 'New South Wales, Australia', 
#           'Qld': 'Queensland, Australia', 
#           'NT': 'Northern Territory, Australia', 
#           'Australia': 'Australia'
#           }

df['State'] = df['Jurisdiction'].apply(lambda x: states[x])
df.head()

,Year,Jurisdiction,Category,Type,Classification,Total type,Stream,Management,Fate,Tonnes,Core or non-core,Sub-stream,Cat. order,Cat. no.,Type order,Type no.,State
0,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Other disposal,Disposal,20185.549742,Core waste,03 C&I core,03 Organics,C3,14 Biosolids,T14,"ACT, Australia"
1,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Recycling,Recycling,0.000000,Core waste,03 C&I core,03 Organics,C3,14 Biosolids,T14,"ACT, Australia"
2,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Other disposal,Disposal,20185.549742,Core waste,09 Total,03 Organics,C3,14 Biosolids,T14,"ACT, Australia"
3,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,Total,Recycling,Recycling,0.000000,Core waste,09 Total,03 Organics,C3,14 Biosolids,T14,"ACT, Australia"
4,2020-2021,ACT,Biosolids,NaN,Category,NaN,C&I,Other disposal,Disposal,20185.549742,Core waste,03 C&I core,03 Organics,C3,NaN,NaN,"ACT, Australia"

## Extract Data By Classification (i.e.'Total', 'Category', 'Type')

In [10]:
# Filter out the redundant rows with Jurisdiction = 'Australia' & 'Stream' = 'Total'
df_state = df[(df['Jurisdiction'] != 'Australia')&(df['Stream'] != 'Total')]
df_state.head()

,Year,Jurisdiction,Category,Type,Classification,Total type,Stream,Management,Fate,Tonnes,Core or non-core,Sub-stream,Cat. order,Cat. no.,Type order,Type no.,State
0,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Other disposal,Disposal,20185.549742,Core waste,03 C&I core,03 Organics,C3,14 Biosolids,T14,"ACT, Australia"
1,2020-2021,ACT,Biosolids,Biosolids,Type,NaN,C&I,Recycling,Recycling,0.000000,Core waste,03 C&I core,03 Organics,C3,14 Biosolids,T14,"ACT, Australia"
4,2020-2021,ACT,Biosolids,NaN,Category,NaN,C&I,Other disposal,Disposal,20185.549742,Core waste,03 C&I core,03 Organics,C3,NaN,NaN,"ACT, Australia"
5,2020-2021,ACT,Biosolids,NaN,Category,NaN,C&I,Recycling,Recycling,0.000000,Core waste,03 C&I core,03 Organics,C3,NaN,NaN,"ACT, Australia"
8,2020-2021,ACT,Biosolids,NaN,Total,Biosolids total,C&I,Other disposal,Disposal,20185.549742,Core waste,03 C&I core,03 Organics,C3,NaN,NaN,"ACT, Australia"

In [11]:
# Extract rows with 'Total' Classification
df_classification_total = df_state[df_state['Classification'] == 'Total']
df_classification_total.to_csv('Data/df_classification_total.csv', index=False)

In [12]:
# Extract rows with 'Category' Classification
df_classification_category = df_state[df_state['Classification'] == 'Category']
df_classification_category.to_csv('Data/df_classification_category.csv', index=False)

In [13]:
# Extract rows with 'Type' Classification
df_classification_type = df_state[df_state['Classification'] == 'Type']
df_classification_type.to_csv('Data/df_classification_type.csv', index=False)

# Extract Recovery Rate Data

## Recovery Rate By Year

In [14]:
# Filter out recovery and recycling data rows
df_recovery = df_classification_type[(df_classification_type['Fate'] == 'Recycling') | (df_classification_type['Fate'] == 'Waste reuse') | (df_classification_type['Fate'] == 'Energy recovery')]
df_recycling = df_classification_type[(df_classification_type['Fate'] == 'Recycling')]

In [15]:
# Total waste by year
df_waste_recovered_by_year = df_classification_type.groupby('Year').sum('Tonne')
df_waste_recovered_by_year.reset_index(inplace=True)
df_waste_recovered_by_year

         Year        Tonnes
0   2006-2007  3.615338e+07
1   2008-2009  3.606884e+07
2   2009-2010  3.684640e+07
3   2010-2011  3.651310e+07
4   2013-2014  3.842871e+07
5   2014-2015  4.738429e+07
6   2015-2016  4.862985e+07
7   2016-2017  5.103816e+07
8   2017-2018  5.861760e+07
9   2018-2019  6.010269e+07
10  2019-2020  5.983937e+07
11  2020-2021  6.225995e+07

In [16]:
# Waste recovered by year
df_waste_recovered_groupby = df_recovery.groupby('Year').sum('Tonne')
df_waste_recovered_groupby.reset_index(inplace=True)
df_waste_recovered_groupby

         Year        Tonnes
0   2006-2007  1.560792e+07
1   2008-2009  1.484683e+07
2   2009-2010  1.678343e+07
3   2010-2011  1.901730e+07
4   2013-2014  2.194228e+07
5   2014-2015  3.075366e+07
6   2015-2016  3.185395e+07
7   2016-2017  3.439988e+07
8   2017-2018  4.149206e+07
9   2018-2019  4.258094e+07
10  2019-2020  4.417959e+07
11  2020-2021  4.557142e+07

In [17]:
# Waste recycled by year
df_waste_recycled_groupby = df_recycling.groupby('Year').sum('Tonne')
df_waste_recycled_groupby.reset_index(inplace=True)
df_waste_recycled_groupby

         Year        Tonnes
0   2006-2007  1.409021e+07
1   2008-2009  1.330265e+07
2   2009-2010  1.527606e+07
3   2010-2011  1.743767e+07
4   2013-2014  2.039771e+07
5   2014-2015  2.917404e+07
6   2015-2016  2.998334e+07
7   2016-2017  3.272389e+07
8   2017-2018  3.964345e+07
9   2018-2019  4.072585e+07
10  2019-2020  4.207402e+07
11  2020-2021  4.032401e+07

In [18]:
# Join data with this method as tables have the same size and index
df_waste_recovered_by_year['Recovery'] = df_waste_recovered_groupby['Tonnes']
df_waste_recovered_by_year['Recycling'] = df_waste_recycled_groupby['Tonnes']
df_waste_recovered_by_year['Not Recovery'] = df_waste_recovered_by_year['Tonnes'] - df_waste_recovered_by_year['Recovery']
df_waste_recovered_by_year['Recovery Rate'] = df_waste_recovered_by_year['Recovery'] / df_waste_recovered_by_year['Tonnes']
df_waste_recovered_by_year['Recycling Rate'] = df_waste_recovered_by_year['Recycling'] / df_waste_recovered_by_year['Tonnes']
df_waste_recovered_by_year

,Year,Tonnes,Recovery,Recycling,Not Recovery,Recovery Rate,Recycling Rate
0,2006-2007,3.615338e+07,1.560792e+07,1.409021e+07,2.054547e+07,0.431714,0.389734
1,2008-2009,3.606884e+07,1.484683e+07,1.330265e+07,2.122201e+07,0.411625,0.368813
2,2009-2010,3.684640e+07,1.678343e+07,1.527606e+07,2.006297e+07,0.455497,0.414587
3,2010-2011,3.651310e+07,1.901730e+07,1.743767e+07,1.749580e+07,0.520835,0.477573
4,2013-2014,3.842871e+07,2.194228e+07,2.039771e+07,1.648643e+07,0.570987,0.530794
5,2014-2015,4.738429e+07,3.075366e+07,2.917404e+07,1.663062e+07,0.649027,0.615690
6,2015-2016,4.862985e+07,3.185395e+07,2.998334e+07,1.677590e+07,0.655029,0.616563
7,2016-2017,5.103816e+07,3.439988e+07,3.272389e+07,1.663829e+07,0.674003,0.641165
8,2017-2018,5.861760e+07,4.149206e+07,3.964345e+07,1.712554e+07,0.707843,0.676306
9,2018-2019,6.010269e+07,4.258094e+07,4.072585e+07,1.752175e+07,0.708470,0.677604
10,2019-2020,5.983937e+07,4.417959e+07,4.207402e+07,1.565978e+07,0.738303,0.703116
11,2020-2021,6.225995e+07,4.557142e+07,4.032401e+07,1.668853e+07,0.731954,0.647672

In [19]:
# Export data
df_waste_recovered_by_year.to_csv('Data/df_waste_recovered_by_year.csv', index=False)

## Recovery Rate By Year and Jurisdiction

In [20]:
# Total waste by year and state
df_waste_recovered_by_year_state = df_classification_type.groupby(['Year','Jurisdiction']).sum('Tonne')
df_waste_recovered_by_year_state.reset_index(inplace=True)
df_waste_recovered_by_year_state

         Year Jurisdiction        Tonnes
0   2006-2007          ACT  1.233480e+05
1   2006-2007          NSW  1.213353e+07
2   2006-2007           NT  2.110218e+05
3   2006-2007          Qld  8.406112e+06
4   2006-2007           SA  1.133677e+06
..        ...          ...           ...
91  2020-2021          Qld  1.281547e+07
92  2020-2021           SA  4.641795e+06
93  2020-2021          Tas  5.780667e+05
94  2020-2021          Vic  1.546835e+07
95  2020-2021           WA  6.551575e+06

[96 rows x 3 columns]

In [21]:
# Waste recovered
df_waste_recovered = df_recovery.groupby(['Year','Jurisdiction']).sum('Tonne')
df_waste_recovered.reset_index(inplace=True)
df_waste_recovered

         Year Jurisdiction        Tonnes
0   2006-2007          ACT  2.886317e+04
1   2006-2007          NSW  5.317075e+06
2   2006-2007           NT  5.466308e+04
3   2006-2007          Qld  1.768538e+06
4   2006-2007           SA  5.948029e+05
..        ...          ...           ...
91  2020-2021          Qld  6.908069e+06
92  2020-2021           SA  4.249153e+06
93  2020-2021          Tas  3.839673e+05
94  2020-2021          Vic  1.198113e+07
95  2020-2021           WA  5.113067e+06

[96 rows x 3 columns]

In [22]:
# Waste recycled
df_waste_recycled = df_recycling.groupby(['Year','Jurisdiction']).sum('Tonne')
df_waste_recycled.reset_index(inplace=True)
df_waste_recycled

         Year Jurisdiction        Tonnes
0   2006-2007          ACT  5.556000e+03
1   2006-2007          NSW  4.822281e+06
2   2006-2007           NT  4.097909e+04
3   2006-2007          Qld  1.412147e+06
4   2006-2007           SA  4.660439e+05
..        ...          ...           ...
91  2020-2021          Qld  5.610832e+06
92  2020-2021           SA  4.066362e+06
93  2020-2021          Tas  3.397296e+05
94  2020-2021          Vic  1.148785e+07
95  2020-2021           WA  4.945306e+06

[96 rows x 3 columns]

In [23]:
# Join data with this method as tables have the same size and index
df_waste_recovered_by_year_state['Recovery'] = df_waste_recovered['Tonnes']
df_waste_recovered_by_year_state['Recycling'] = df_waste_recycled['Tonnes']
df_waste_recovered_by_year_state['Not Recovery'] = df_waste_recovered_by_year_state['Tonnes'] - df_waste_recovered_by_year_state['Recovery']
df_waste_recovered_by_year_state['Recovery Rate'] = df_waste_recovered_by_year_state['Recovery'] / df_waste_recovered_by_year_state['Tonnes']
df_waste_recovered_by_year_state['Recycling Rate'] = df_waste_recovered_by_year_state['Recycling'] / df_waste_recovered_by_year_state['Tonnes']
df_waste_recovered_by_year_state

,Year,Jurisdiction,Tonnes,Recovery,Recycling,Not Recovery,Recovery Rate,Recycling Rate
0,2006-2007,ACT,1.233480e+05,2.886317e+04,5.556000e+03,9.448486e+04,0.233998,0.045043
1,2006-2007,NSW,1.213353e+07,5.317075e+06,4.822281e+06,6.816455e+06,0.438213,0.397434
2,2006-2007,NT,2.110218e+05,5.466308e+04,4.097909e+04,1.563587e+05,0.259040,0.194194
3,2006-2007,Qld,8.406112e+06,1.768538e+06,1.412147e+06,6.637574e+06,0.210387,0.167991
4,2006-2007,SA,1.133677e+06,5.948029e+05,4.660439e+05,5.388745e+05,0.524667,0.411090
...,...,...,...,...,...,...,...,...
91,2020-2021,Qld,1.281547e+07,6.908069e+06,5.610832e+06,5.907400e+06,0.539041,0.437817
92,2020-2021,SA,4.641795e+06,4.249153e+06,4.066362e+06,3.926424e+05,0.915412,0.876032
93,2020-2021,Tas,5.780667e+05,3.839673e+05,3.397296e+05,1.940995e+05,0.664227,0.587700
94,2020-2021,Vic,1.546835e+07,1.198113e+07,1.148785e+07,3.487213e+06,0.774558,0.742668
95,2020-2021,WA,6.551575e+06,5.113067e+06,4.945306e+06,1.438509e+06,0.780433,0.754827

In [24]:
# Export data
df_waste_recovered_by_year_state.to_csv('Data/df_waste_recovered_by_year_state.csv', index=False)